<footer class="yui3-g round">

	  <ul class="yui3-u-1">
			<li><%= link_to "Front Cover", front_path %></li>
			<li><%= link_to "Forward", about_path %></li>
			<li><%= link_to "Preface", intro_path %></li>
			<li><%= link_to "Map", map_path %></li>
			<li><%= link_to "Bibliography", bibli_path %></li>
			<li><%= link_to "Colophon", colophon_path %></li>
			<li><%= link_to "Back Cover", back_path %></li>
	  </ul>

</footer>