<nav id="side" class="yui3-u-1-6 gutter">

		<h1>Part One</h1>

		<ul class="accordion">
						
			<li class="trigger"><%= link_to "Antiquity", antiquity_path %>
				<ul>
					<li class="last-child"><%= link_to "Wadi el_Hol", wadi_path %></li>
					<li class="last-child"><%= link_to "Serabit", '#'%></li>
				</ul>
			</li>
	
			<li class="trigger"><%= link_to "Middle Ages", '#' %>
				<ul>
					<li></li>
					<li></li>
				</ul>
			</li>
	
			<li class="trigger"><%= link_to "Modern Era", '#' %>
				<ul>
					<li></li>
					<li></li>
				</ul>
			</li>
	
		</ul> <!-- end menu navigation part 1 -->

		<h1>Part Two</h1>

		<ul class="accordion">
			
			<li class="trigger"><%= link_to "Men", '#' %>
				<ul>
					<li class="last-child"><%= link_to "Historical", '#'%></li>
					<li class="last-child"><%= link_to "Occupational", '#'%></li>
					<li class="last-child"><%= link_to "Fictional", '#'%></li>
					<li class="last-child"><%= link_to "Entertainment", '#'%></li>
				</ul>
			</li>
				
			<li class="trigger"><%= link_to "Literature", '#' %>
				<ul>
					<li class="last-child"><%= link_to "Folklore", '#'%></li>
					<li class="last-child"><%= link_to "Mother Goose", '#'%></li>
					<li class="last-child"><%= link_to "Shakespeare", '#'%></li>
					<li class="last-child"><%= link_to "Phrases", '#'%></li>
				</ul>
			</li>
				
			<li class="trigger"><%= link_to "Games", '#' %>
				<ul><li class="last-child"></li></ul></li>
				
			<li class="trigger"><%= link_to "Kitchen", '#' %>
				<ul><li class="last-child"></li></ul></li>
				
			<li class="trigger"><%= link_to "Garage", '#' %>
				<ul><li class="last-child"></li></ul></li>
				
			<li class="trigger"><%= link_to "Nature", '#' %>
				<ul><li class="last-child"></li></ul></li>
				
			<li class="trigger"><%= link_to "Places", '#' %>
				<ul><li class="last-child"></li></ul></li>
			
		</ul> <!-- end menu navigation part two -->

		<h1>Part Three</h1>
		
		<ul class="accordion">
			<li class="trigger"><%= link_to "User Generated", '#' %>
				<ul><li class="last-child"></li></ul></li>
		</ul>

</nav>
